<div class="custom__container">
        <%= form_with(model: post, local: true) do|f| %>

            <div class="wrapper">
                <% if post.errors.any?%>
                    <div class="errors">
                        <h3><%= pluralize(post.errors.count, "error") %> Prohibited this post from being saved: </h3>
                        <h3 class="cont"> Prohibited this post from being saved: </h3>

                        <%post.errors.full_messages.each do|message| %>
                            <li><%= message %></li>
                        <% end %>
                    </div>
                <% end %>
                <%= f.label :title %>
                <%= f.text_field :title %>

                <%= f.label :description %>
                <%= f.text_area :description, rows: 5 %>

                <%= f.label :name %>
                <%= f.text_field :name %>

                <%= f.label :published_at  %>
                <div class="datetime__container">
                <%= f.datetime_select :published_at, {ampm: true }, {class:"datetime"} %>
            </div>
            <%= f.submit %>
        <% end %>
    </div>
</div>